@charset "UTF-8";

html, body {
	height: 100%;
	width: 100%
}

body {
	background-size: 100% 100%;

}

table {
	width: 60%;
	border-spacing: 0;
}

table th {
	padding: 13px 20px;
	background-color: #ff2600;
	color: #feffff;
	border-bottom: #5e5e5e;
}

table td {
	border-bottom: solid 2px #929292;
	text-align: center;
	padding: 10px 30px;

}

.center {
	text-align: center;
}

.container {
	max-width: 75%;
	margin: 40px 0px 20px 600px;
}

.contain {
	max-width: 14%;
	margin: 13% 0% 0% 25%;
	display: inline-table;
}



.font {
	max-width: 35%;
	margin: 0% 0% 30% 0%;
	font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', sans-serif;
}

.rate {
	max-width: 60%;
	margin: 5% 0% 0% 0%;
}

.size {
	max-width: 50%;
	margin: 4% 0% 0% 0%;
}

h2 {
	max-width: 35%;
	font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', sans-serif;
}

h3 {
	font-size: 150%;
	font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', sans-serif;
}

.padding {
	position: relative;
	padding: 15% auto;
}

.margin {
	margin: 10% 0% 0% 0%;
}

.sample2a {
	background: linear-gradient(transparent 50%, #ffa64d 65%);
	/* ラインマーカーを付ける  */
}


.colar {
	background-color: #FFFFCC;
}

.font-size {
	font-size: 200%;
	font-family: 'Kaiti SC',sans-serif;
}
.button{
	margin: 0% 0% 0% 48%;
}
.a{
	margin: 3% 0% 0% 0%

}
.b{
	margin: 3% 0% 0% 0%;
	height: 50%;
}
.c{
	margin: 15% 0% 0% 0%;
}
.d{
margin: 25% 0% 0% 0%;
}
.e{
	margin: 30% 0% 0% %;

}
.sample-box {
    position: relative;
    }
    .you {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
	left: 20%;

}
.meter{
	top: 23%;
}
.line{
	display: inline-block;
}